*
!.gitignore
!.qmllint.ini

!.rustfmt.toml
!AGENTS.md

!flake.nix
!flake.lock

!Cargo.toml
!Cargo.lock
!build.rs

!docs/
!docs/**/
!docs/**/*.md

!resources/
!resources/**/
!resources/bangs.json
!resources/**/*.svg
!resources/**/*.json

!shell/
!shell/**/
!shell/**/*.qml

!src/
!src/**/
!src/**/*.rs
