*
!.gitignore
!.qmllint.ini

!.rustfmt.toml
!AGENTS.md

!flake.nix
!flake.lock

!Cargo.toml
!Cargo.lock

!docs/
!docs/**/
!docs/**/*.md

!resources/
!resources/**/
!resources/**/*.svg
!resources/**/*.toml

!shell/
!shell/**/
!shell/**/*.qml

!src/
!src/**/
!src/**/*.rs
